

  
    <!-- Your website content here -->
    <div class="authContent">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Forget Password</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="formBtn">
                    
                    <button color="primary"  mat-raised-button routerLink="/auth/set-password">Set Password</button>
                    <button color="accent" mat-raised-button routerLink="/auth/login">Cancel</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    
    
    
 
  