<div class="authContent setContent">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Set Password</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="mainContent">
                <form [formGroup]="registerForm" (ngSubmit)="formSubmitHandler()" class="authForm">
                    
                    <div class="formElement">

                        <mat-form-field>
                            <input formControlName="user_name" type="text" matInput placeholder="user name" />
                        </mat-form-field>
                    </div>
                    <br>
                    <div class="formElement">

                        <mat-form-field>
                            <input formControlName="new_password" type="{{passwordType}}" matInput placeholder="New password" />
                            <mat-icon (click)="setPasswordType()"  matSuffix>{{passwordType=='password'? 'visibility':'visibility_off' }}</mat-icon>
                        </mat-form-field>
                    </div>
                    
                    <div class="formElement">

                        <mat-form-field>
                            <input formControlName="confirm_password" type="{{passwordcType}}" matInput placeholder="Confirm password" />
                            <mat-icon (click)="setPasswordcType()"  matSuffix>{{passwordcType =='password'? 'visibility':'visibility_off' }}</mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="er">
                        
                        <button [disabled]="registerForm.invalid || isLoading" mat-raised-button type="submit"
                            color="accent">Submit</button>
                        <button mat-raised-button color="warn" routerLink="/auth/login">Cancel</button>
                        
                    </div>
                    
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>